.stars {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  gap: 0.2rem;
  span {
    margin: 0;
    padding: 0;
    width: 1.4em; /* Adjust the width and height to change the size of the star */
    height: 1.4em;
    background-color: transparent;
    border: 1px solid #fff; /* Set the border color to match the star color */
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    cursor: pointer;
    background-color: #fff;
    display: inline-block;
  }
}
