.button {
  background-color: #4eb3e3;
  display: block;
  padding: 0.7rem 1rem;
  border: 1px solid #1f343e;
  border-radius: 0.6rem;
  width: 100%;
  color: #fff;
  margin-bottom: 100px;
  &:hover {
    background-color: #2782ad;
  }
}
