.socialicons {
  display: flex;
  align-items: center;
  .icon {
    background-color: #4eb3e3;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    display: block;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #1b678a;
    }
  }
}
